<div class="category-products">
    <div class="mb-3">
      <label for="category" class="form-label">Select a Category:</label>
      <select
      id="category"
      class="form-select"
      (change)="onCategoryChange($event)"
    >
      <option value="" disabled selected>Select a category</option>
      <option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </option>
    </select>
    
    </div>
  
    <!-- products List -->
    <div *ngIf="selectedCategory" class="products">
      <h4>Products in "{{ selectedCategory }}"</h4>
      <div *ngIf="isLoading" class="text-center my-4">
        <app-loader></app-loader>
      </div>
      <div *ngIf="!isLoading && products.length === 0" class="alert alert-info">
        No products found in this category.
      </div>
      <div *ngIf="!isLoading && products.length > 0" class="row g-3">
        <div *ngFor="let product of products" class="col-md-4">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>
  </div>
  