.category-products {
    padding: 1rem;
  }
  
  .form-select {
    max-width: 300px;
    margin-bottom: 1rem;
  }
  
  .products h4 {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .alert {
    text-align: center;
  }
  
  .card {
    height: 100%;
  }
  